ul.catalog-tree ul {
    margin-left: 20px;
}

ul.idented {
    margin-left: 20px;
}

ul.category-select {
    padding-left: 15px;
    list-style: none;
}

span.required {
    color: #f00;
}

.file-drop-area {
    border: 4px blue dotted;
    height: 120px;
    border-radius: 20px;
    padding: 20px;
    background-color: #eeeeff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.drag-hover {
    background-color: #afa;
}

.form-control-inline {
    width: auto;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
}

.folding-header a {
    border-bottom: 2px dashed;
    display: inline;
}

.folding-header a:hover {
    text-decoration: none;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.catalog-item {
    height: 300px;
}

.catalog-item img {
    max-height: 150px;
}