*, html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

h3 {
    margin-top: 0px;
    font-size: 20px;
    color: #efa332;
}

.btn-warning {
    color: #000;
    text-transform: uppercase;
}

.nav > li.disabled > a {
    font-size: 16px;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: white;
    background-color: #efa332;
}

.hipsters img {
    position: absolute;
}

#hipsterLeft {
    left: 0;
    top: 70px;
}

#hipsterRight {
    right: 0;
    top: 135px;
}

header > .row {
    margin-top: 45px;
}

header .phone {
    margin-bottom: 20px;
}

header .phone span {
    font-size: 18pt;
    font-weight: bold;
    color: #838383;
}

header .phone a {
    text-decoration: none;
    border-bottom: 1px dashed;
}

header .phone i {
    font-size: 20px;
    color: #97d252;
}

header .search-button {
    font-size: 20px;
}

.btn-enter {
    width: 95px;
    height: 30px;
    margin-bottom: 15px;
    color: black;
}

.cart {
    color: #c20150;
    font-weight: bold;
}

.cart span {
    color: #96d352;
}

.catalog-list {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}

.catalog-list a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: underline;
    color: black;
}

.catalog-list a:hover {
    color: #428bca;
}

.features {
    margin-top: 40px;
    margin-bottom: 40px;
}

.catalog h3 {
    color: #757575;
}

.catalog-item {
    line-height: 2;
    min-height: 230px;
}

.catalog-item a {
    display: block;
    text-align: center;
}

.catalog-item .price {
    display: block;
    text-align: center;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.breadcrumbs span {
    color: #777777;
}

.size-add-to-cart {
    margin-top: 10px;
}

.choose-size {
    margin-bottom: 35px;
}

.choose-size li + li {
    margin-left: 8px;
}

.choose-size li a {
    border-radius: 0;
    color: #777777;
    border: 1px solid #cdcdcd;
}

.choose-size li.active a, .choose-size li.active a:hover {
    background-color: #eb9316;
}

.btn-add-to-cart {
    color: #000;
    height: 42px;
    padding-top: 11px;
}

.item-full-description h3 {
    margin-top: 0px;
}

.item-full-description h3 span {
    color: #c10250;
}

.order-form .row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.purple {
    color: #c10250;
}

.cart-table a.remove-item {
    color: #c10250;
}

.cart-table p {
    margin-bottom: 0px;
}

.cart-item-inc-dec a {
    display: block;
    color: #97d252;
    font-size: 10px;
    margin-left: 3px;
}

.cart-item-inc-dec a:first-child {

}

.cart-item-inc-dec a:last-child {

}

.social-buttons {

}

.social-buttons .row {
    margin-bottom: 20px;
}

footer .footer {
    margin-bottom: 0px;
    margin-top: 75px;
    padding-bottom: 0px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
    line-height: 2.3;
}

footer ul a {
    color: #757575;
    text-decoration: underline;
}

li+li.disabled>a {
    margin-top: 20px;
}