body {
	background: #fff;
	font-family: "Calibri", sans-serif;
	color: #231f20;
	font-size: 16px;
}

.rounded(@radius) {
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.new-column { margin-bottom: 40px !important; }

.text-center { text-align: center; }
.text-right { text-align: right; }

button, input {
	outline: none;
}

a {
	color: #b2122f;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		color: #231f20;
	}
}

p {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 20px;
	line-height: normal;
	font-weight: 500;
	&:last-child {
		margin-bottom: 0;
	}
}
h1 {
	margin: 0 0 10px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	line-height: 28px;
}

h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.breadcrumbs {
	display: block;
	list-style: none;
	padding-left: 0;
	margin: 0 0 10px 0;
	.rounded(5px);
	font-size: 0;
	li {
		margin-right: 5px;
		font-size: 14px;
		display: inline-block;
		&:after {
			margin-left: 5px;
			content: "/";
		}
		&:last-child {
			margin-right: 0;
			&:after {
				content: none;
			}
		}
	}
	a {
		color: #b2122f;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: #231f20;
		}
	}
}

.register-form {
	display: block;
	width: 80%;
	label {
		display: block;
		margin-bottom: 10px;
		font-weight: normal;
		width: 100%;
		.half {
			width: 50%;
			float: left;
		}
		input {
			width: 100%;
		}
		input[type=submit] {
			width: auto;
			padding: 5px 15px;
			.rounded(6px);
			border: none;
			background: #b2122f;
			color: #fff;
			display: inline-block;
			&:hover {
				background: #a40e29;
			}
		}
	}
}

.clear { clear: both; }

.logo {
	background: url('../img/logo.png') no-repeat center;
	display: block;
	width: 220px;
	height: 130px;
}

.top {
	background: url('../img/bg-top.png') no-repeat top center;
	display: block;
	height: 130px;
	// border: 1px solid #bcbcbc;
	// border-top: none;
	.rounded(0 0 5px 5px);
}

nav {
	padding: 0 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url('../img/bg-nav.png') repeat;
	display: block;
	min-height: 41px;
	.rounded(5px);
	ul {
		display: block;
		min-height: 41px;
		line-height: 41px;
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		li {
			font-size: 17px;
			display: inline-block;
			font-weight: bold;
			margin-right: 15px;
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.search {
		margin-top: 5px;
		float: right;
		background: #fff;
		height: 30px;
		width: 210px;
		.rounded(5px);
		form {
			height: 30px;
			input {
				height: 30px;
				float: left;
				border: none;
				background: none;
				width: 180px;
				
			}
			input[type=text] {
				color: #9a9a9a;
				padding: 0 10px;
				font-size: 15px;
			}
			input[type=submit] {
				width: 30px;
				background: url('../img/icon-search.png') no-repeat center;
			}
			
		}
	}
}

#main-slider {
	overflow: hidden;
	display: block;
	height: 310px;
	padding: 0;
	margin: 0;
	list-style: none;
	.rounded(5px);
	li {
		overflow: hidden;
		display: block;
		height: 310px;
		.rounded(5px);
		text-align: center;
	}
	.text {
		margin-top: 60px;
		display: block;
		color: #000;
		font-size: 30px;
		line-height: 30px;
	}
	.more {
		margin-top: 20px;
		padding: 5px 15px;
		display: inline-block;
		color: #fff;
		font-size: 24px;
		.rounded(5px);
		background: #ca0000; /* Old browsers */
		background: -moz-linear-gradient(top,  #ca0000 0%, #fc6866 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca0000), color-stop(100%,#fc6866)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ca0000 0%,#fc6866 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ca0000 0%,#fc6866 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ca0000 0%,#fc6866 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ca0000 0%,#fc6866 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0000', endColorstr='#fc6866',GradientType=0 ); /* IE6-9 */
		&:hover {
			text-decoration: none;
			background: #c91a1a; /* Old browsers */
			background: -moz-linear-gradient(top,  #c91a1a 0%, #fc6866 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c91a1a), color-stop(100%,#fc6866)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c91a1a 0%,#fc6866 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c91a1a 0%,#fc6866 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c91a1a 0%,#fc6866 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c91a1a 0%,#fc6866 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c91a1a', endColorstr='#fc6866',GradientType=0 ); /* IE6-9 */
		}
	}
}

.content {
	margin-top: 10px;
	.text-list {
		padding: 0;
		margin: 0;
		li {
			display: block;
			&:before {
				content: "•";
				vertical-align: middle;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.block-title {
		display: block;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid #231f20;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	.block-title.no-border {
		border-bottom: 0;
	}
	.group {
		display: block;
		line-height: 18px;
		margin-bottom: 40px;
	}
	.paging {
		display: block;
		margin-top: 10px;
		.pages-list, .sort {
			float: right;
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-size: 0;
			li {
				font-size: 14px;	
				display: inline-block;
				margin-right: 15px;
				&:last-child { margin-right: 0; }
			}
		}
		.sort {
			float: left;
		}
	}
	.product-gallery {
			margin-bottom: 20px;
		display: block;
		.bx-wrapper .bx-prev { left: -20px !important; }
		.bx-wrapper .bx-next { right: -20px !important; }
		.bx-wrapper .bx-controls-direction a { margin-top: -12px !important; }
		.image {
			margin: 0 auto;
			background: #eee;
			display: block;
			height: 262px;
			width: 262px;
			img {
				border: 3px solid #e6e7e8;
			}

		}
		.thumbs {
			display: block;
			margin: 6px auto 0 auto;
			width: 234px;
			list-style-type: none;
			padding: 0;
			font-size: 0;
			li {
				background: #eee;
				display: inline-block;
				width: 54px;
				height: 54px;
				margin-right: 6px;
				img {
					cursor: pointer;
					border: 3px solid #e6e7e8;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			
		}
	}
	.product-info {
		.row {
			margin-bottom: 5px;
			&:last-child { margin-bottom: 0; }
		}
	}
	.sum {
		margin-top: 10px;
		display: block;
		font-style: italic;
		text-align: right;
		span {
			font-weight: bold;
			font-size: 18px;
			font-style: normal;
		}
	}
	.button {
		margin-top: 10px;
		display: block;
		text-align: right;
	}
	.order {
		.rounded(5px);
		border: none;
		background: #b2122f;
		display: inline-block;
		font-size: 18px;
		color: #fff;
		padding: 5px 15px;
		&:hover {
			background: #a40e29;
		}
	}
	.qty, .qty-plus, .qty-minus { float: left; }
	.qty-plus, .qty-minus {
		background: none;
		border: 0;
		cursor: pointer;
		font-weight: bold;
		color: #b2122f;
	}
	.qty {
		width: 30px;
		text-align: center;
	}
	.catalog {
		width: 100%;
		.addtocart, .addtocartall, .delete {
			display: block;
		}
		.addtocart {
			width: 25px;
			height: 22px;
			background: url('../img/icon-add.png') no-repeat;
		}
		.addtocartall {
			width: 27px;
			height: 20px;
			background: url('../img/icon-add-all.png') no-repeat;
		}
		.delete {
			width: 16px;
			height: 15px;
			background: url('../img/icon-delete.png') no-repeat;
		}
		thead {
				border-bottom: 1px solid #828080;
				text-align: left;
			th {
				padding: 10px;
				font-size: 12px;
				font-weight: normal;
			}
		}
		tbody {
			border-bottom: 1px solid #828080;
			font-size: 13px;
			tr {
				background: #fff;
				&:nth-child(2n + 1) {
					background: #eee;
				}
			}
			td {
				padding: 10px;
				&:last-child {
					padding: 10px 20px 10px 10px;
				}
			}
		}
	}
	.login-form {
		background: #e6e7e8;
		padding: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid #231f20;
		border-top: 1px solid #231f20;
		input {
			display: block;
			height: 25px;
			border: 1px solid #231f20;
			margin-bottom: 15px;
			font-size: 13px;
		}
		input[type=text], input[type=password] {
			padding: 0 5px;
			width: 100%;
		}
		input[type=submit] {
			float: right;
			border: none;
			background: none;
			font-size: 17px;
			color: #b2122f;
			margin-bottom: 0;
		}
		.links {
			display: block;
			font-size: 14px;
			a {
				display: block;
				color: #231f20;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: #b2122f;
				}
			}
		}
	}
	.subscribe-form {
		padding: 15px;
		input {
			display: block;
			height: 25px;
			border: 1px solid #231f20;
			margin-bottom: 15px;
			font-size: 13px;
		}
		input[type=text], input[type=password] {
			padding: 0 5px;
			width: 100%;
		}
		input[type=submit] {
			float: right;
			border: none;
			background: none;
			font-size: 17px;
			color: #b2122f;
			margin-bottom: 0;
		}
	}
	.item-search {
		padding: 15px;
		input {
			display: block;
			height: 25px;
			border: 1px solid #231f20;
			font-size: 13px;
		}
		input[type=text] {
			padding: 0 5px;
			width: 100%;
			margin-bottom: 15px;
		}
		input[type=submit] {
			float: right;
			border: none;
			background: none;
			font-size: 17px;
			color: #b2122f;
			margin-bottom: 0;
		}
		input[type=checkbox] {
			display: inline-block;
			vertical-align: top;
			margin: 0 !important;
		}
		label {
			font-weight: normal;
			display: block;
			span {
				display: inline-block;
				font-size: 14px;
			}
		}
	}
	.last-news {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			margin-bottom: 25px;
			display: block;
			.date, .title, .text { display: block; }
			.date {
				font-size: 14px;
			}
			.title {
				line-height: 15px;
				color: #b2122f;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.text {
				margin-top: 5px;
				font-size: 14px;
			}
		}
	}
	.map {
		display: block;
		height: 200px;
		margin-bottom: 15px;
	}
	.phone {
		display: block;
		font-size: 17px;
		font-weight: bold;
	}
	.email {
		color: #b2122f;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: #b2122f;
		}
	}
	.new-items, .catalog-items {
		overflow: hidden;
		display: block;
		padding: 20px 0;
		margin: 0;
		li {
			padding: 0 40px;
			.image {
				display: block;
				
				width: 150px;
				margin: 0 auto;
				img {
					text-align: center;
				}
			}
			.title {
				margin-top: 10px;
				text-align: center;
				display: block;
				height: 80px;
				color: #231f20;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: #b2122f;
				}
			}
		}
	}
	.catalog-items {
		li {
			.image {
				margin: 0 auto;
				width: 120px;
			}
		}
	}
	.sliderlink {
		display: block;
		text-align: center;
		margin-bottom: 10px;
		a {
			color: #b2122f;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color: #231f20;
			}
		}
	}
	.ads {
		margin-top: 20px;
		.group {
			margin-bottom: 10px;
			text-align: center;
		}
	}
}

footer {
	padding: 20px;
	.rounded(5px);
	margin-top: 10px;
	background: url('../img/bg-footer.png') no-repeat top center;
	background-size: cover;
	display: block;
	min-height: 220px;
	text-align: center;
	.menu-title {
		display: block;
		font-size: 18px;
		font-weight: bold;
	}
	ul {
		display: block;
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: block;
			a {
				color: #231f20;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: #b2122f;
				}
			}
		}
	}
}

.copyrights {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #000;
}