/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  nav {
    background: #bb2f48;
  }
  #main-slider .text {
    font-size: 24px;
  }
  #main-slider .more {
    font-size: 18px;
  }
  footer ul {
    margin-bottom: 20px;
  }
  footer ul.last {
    margin-bottom: 0;
  }
  nav {
    padding: 15px 0;
  }
  nav ul {
    height: auto !important;
  }
  nav ul li {
    padding: 5px;
    margin-right: 0;
    display: block;
    line-height: normal;
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  nav ul li:last-child {
    border-bottom: 0;
  }
  nav .search {
    float: none;
    display: block;
  }
  .register-form {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .register-form label .half {
    float: none;
    display: block;
    width: 100%;
  }
  .register-form label span {
    display: block;
    margin-bottom: 5px;
  }
  .register-form label input[type=text] {
    width: 100%;
  }
  .paging {
    text-align: center;
  }
  .paging .pages-list,
  .paging .sort {
    float: none !important;
    display: block;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .catalog-container {
    display: block;
    overflow: auto;
    max-width: 100%	;
  }
  .new-column {
    margin-bottom: 40px !important;
  }
  .top .logo {
    margin: 0 auto;
  }
  nav .search {
    display: none !important;
  }
  nav ul {
    height: 41px;
    float: none;
    text-align: center;
    padding: 0 15px;
  }
  .copyrights {
    text-align: center;
  }
}
