body {
    background: #fff;
    font-family: "Calibri", sans-serif;
    color: #231f20;
    font-size: 16px;
}

.new-column {
    margin-bottom: 40px !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

button,
input {
    outline: none;
}

a {
    color: #b2122f;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #231f20;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
}

p:last-child {
    margin-bottom: 0;
}

h1 {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    line-height: 28px;
}

h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.breadcrumbs {
    display: block;
    list-style: none;
    padding-left: 0;
    margin: 0 0 10px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
}

.breadcrumbs li {
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
}

.breadcrumbs li:after {
    margin-left: 5px;
    content: "/";
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li:last-child:after {
    content: none;
}

.breadcrumbs a {
    color: #b2122f;
    text-decoration: underline;
}

.breadcrumbs a:hover {
    text-decoration: none;
    color: #231f20;
}

.register-form {
    display: block;
    width: 80%;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    width: 100%;
}

.register-form label .half {
    width: 50%;
    float: left;
}

.register-form label input {
    width: 100%;
}

.register-form label input[type=submit] {
    width: auto;
    padding: 5px 15px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
    background: #b2122f;
    color: #fff;
    display: inline-block;
}

.register-form label input[type=submit]:hover {
    background: #a40e29;
}

.clear {
    clear: both;
}

.logo {
    background: url('../img/logo.png') no-repeat center;
    display: block;
    width: 220px;
    height: 130px;
}

.top {
    background: url('../img/bg-top.png') no-repeat top center;
    display: block;
    height: 130px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

nav {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: url('../img/bg-nav.png') repeat;
    display: block;
    min-height: 41px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

nav ul {
    display: block;
    min-height: 41px;
    line-height: 41px;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

nav ul li {
    font-size: 17px;
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.active a {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

nav .search {
    margin-top: 5px;
    float: right;
    background: #fff;
    height: 30px;
    width: 210px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

nav .search form {
    height: 30px;
}

nav .search form input {
    height: 30px;
    float: left;
    border: none;
    background: none;
    width: 180px;
}

nav .search form input[type=text] {
    color: #9a9a9a;
    padding: 0 10px;
    font-size: 15px;
}

nav .search form input[type=submit] {
    width: 30px;
    background: url('../img/icon-search.png') no-repeat center;
}

#main-slider {
    overflow: hidden;
    display: block;
    height: 310px;
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#main-slider li {
    overflow: hidden;
    display: block;
    height: 310px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

#main-slider .text {
    margin-top: 60px;
    display: block;
    color: #000;
    font-size: 30px;
    line-height: 30px;
}

#main-slider .more {
    margin-top: 20px;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ca0000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ca0000 0%, #fc6866 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca0000), color-stop(100%, #fc6866));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ca0000 0%, #fc6866 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ca0000 0%, #fc6866 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ca0000 0%, #fc6866 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ca0000 0%, #fc6866 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca0000', endColorstr='#fc6866', GradientType=0);
    /* IE6-9 */
}

#main-slider .more:hover {
    text-decoration: none;
    background: #c91a1a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c91a1a 0%, #fc6866 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c91a1a), color-stop(100%, #fc6866));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c91a1a 0%, #fc6866 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c91a1a 0%, #fc6866 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c91a1a 0%, #fc6866 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c91a1a 0%, #fc6866 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c91a1a', endColorstr='#fc6866', GradientType=0);
    /* IE6-9 */
}

.content {
    margin-top: 10px;
}

.content .text-list {
    padding: 0;
    margin: 0;
}

.content .text-list li {
    display: block;
}

.content .text-list li:before {
    content: "•";
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

.content .block-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #231f20;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content .block-title.no-border {
    border-bottom: 0;
}

.content .group {
    display: block;
    line-height: 18px;
    margin-bottom: 40px;
}

.content .paging {
    display: block;
    margin-top: 10px;
}

.content .paging .pages-list,
.content .paging .sort {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.content .paging .pages-list li,
.content .paging .sort li {
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
}

.content .paging .pages-list li:last-child,
.content .paging .sort li:last-child {
    margin-right: 0;
}

.content .paging .sort {
    float: left;
}

.content .product-gallery {
    margin-bottom: 20px;
    display: block;
}

.content .product-gallery .bx-wrapper .bx-prev {
    left: -20px !important;
}

.content .product-gallery .bx-wrapper .bx-next {
    right: -20px !important;
}

.content .product-gallery .bx-wrapper .bx-controls-direction a {
    margin-top: -12px !important;
}

.content .product-gallery .image {
    margin: 0 auto;
    background: #eee;
    display: block;
    height: 262px;
    width: 262px;
}

.content .product-gallery .image img {
    border: 3px solid #e6e7e8;
}

.content .product-gallery .thumbs {
    display: block;
    margin: 6px auto 0 auto;
    width: 234px;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.content .product-gallery .thumbs li {
    background: #eee;
    display: inline-block;
    width: 54px;
    height: 54px;
    margin-right: 6px;
}

.content .product-gallery .thumbs li img {
    cursor: pointer;
    border: 3px solid #e6e7e8;
}

.content .product-gallery .thumbs li:last-child {
    margin-right: 0;
}

.content .product-info .row {
    margin-bottom: 5px;
}

.content .product-info .row:last-child {
    margin-bottom: 0;
}

.content .sum {
    margin-top: 10px;
    display: block;
    font-style: italic;
    text-align: right;
}

.content .sum span {
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
}

.content .button {
    margin-top: 10px;
    display: block;
    text-align: right;
}

.content .order {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background: #b2122f;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 5px 15px;
}

.content .order:hover {
    background: #a40e29;
}

.content .qty,
.content .qty-plus,
.content .qty-minus {
    float: left;
}

.content .qty-plus,
.content .qty-minus {
    background: none;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #b2122f;
}

.content .qty {
    width: 30px;
    text-align: center;
}

.content .catalog {
    width: 100%;
}

.content .catalog .addtocart,
.content .catalog .addtocartall,
.content .catalog .delete {
    display: block;
}

.content .catalog .addtocart {
    width: 25px;
    height: 22px;
    background: url('../img/icon-add.png') no-repeat;
}

.content .catalog .addtocartall {
    width: 27px;
    height: 20px;
    background: url('../img/icon-add-all.png') no-repeat;
}

.content .catalog .delete {
    width: 16px;
    height: 15px;
    background: url('../img/icon-delete.png') no-repeat;
}

.content .catalog thead {
    border-bottom: 1px solid #828080;
    text-align: left;
}

.content .catalog thead th {
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
}

.content .catalog tbody {
    border-bottom: 1px solid #828080;
    font-size: 13px;
}

.content .catalog tbody tr {
    background: #fff;
}

.content .catalog tbody tr:nth-child(2n + 1) {
    background: #eee;
}

.content .catalog tbody td {
    padding: 10px;
}

.content .catalog tbody td:last-child {
    padding: 10px 20px 10px 10px;
}

.content .login-form {
    background: #e6e7e8;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #231f20;
    border-top: 1px solid #231f20;
}

.content .login-form input {
    display: block;
    height: 25px;
    border: 1px solid #231f20;
    margin-bottom: 15px;
    font-size: 13px;
}

.content .login-form input[type=text],
.content .login-form input[type=password] {
    padding: 0 5px;
    width: 100%;
}

.content .login-form input[type=submit] {
    float: right;
    border: none;
    background: none;
    font-size: 17px;
    color: #b2122f;
    margin-bottom: 0;
}

.content .login-form .links {
    display: block;
    font-size: 14px;
}

.content .login-form .links a {
    display: block;
    color: #231f20;
    text-decoration: none;
}

.content .login-form .links a:hover {
    text-decoration: underline;
    color: #b2122f;
}

.user-widget .links a {
    text-decoration: none;
}

.user-widget {
    margin-bottom: 30px;
}

.content .subscribe-form {
    padding: 15px;
}

.content .subscribe-form input {
    display: block;
    height: 25px;
    border: 1px solid #231f20;
    margin-bottom: 15px;
    font-size: 13px;
}

.content .subscribe-form input[type=text],
.content .subscribe-form input[type=password] {
    padding: 0 5px;
    width: 100%;
}

.content .subscribe-form input[type=submit] {
    float: right;
    border: none;
    background: none;
    font-size: 17px;
    color: #b2122f;
    margin-bottom: 0;
}

.content .item-search {
    padding: 15px;
}

.content .item-search input {
    display: block;
    height: 25px;
    border: 1px solid #231f20;
    font-size: 13px;
}

.content .item-search input[type=text] {
    padding: 0 5px;
    width: 100%;
    margin-bottom: 15px;
}

.content .item-search input[type=submit] {
    float: right;
    border: none;
    background: none;
    font-size: 17px;
    color: #b2122f;
    margin-bottom: 0;
}

.content .item-search input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
}

.content .item-search label {
    font-weight: normal;
    display: block;
}

.content .item-search label span {
    display: inline-block;
    font-size: 14px;
}

.content .last-news {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content .last-news li {
    margin-bottom: 25px;
    display: block;
}

.content .last-news li .date,
.content .last-news li .title,
.content .last-news li .text {
    display: block;
}

.content .last-news li .date {
    font-size: 14px;
}

.content .last-news li .title {
    line-height: 15px;
    color: #b2122f;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .last-news li .text {
    margin-top: 5px;
    font-size: 14px;
}

.content .map {
    display: block;
    height: 200px;
    margin-bottom: 15px;
}

.content .phone {
    display: block;
    font-size: 17px;
    font-weight: bold;
}

.content .email {
    color: #b2122f;
    text-decoration: underline;
}

.content .email:hover {
    text-decoration: none;
    color: #b2122f;
}

.content .new-items,
.content .catalog-items {
    overflow: hidden;
    display: block;
    padding: 20px 0;
    margin: 0;
}

.content .new-items li,
.content .catalog-items li {
    padding: 0 40px;
}

.content .new-items li .image,
.content .catalog-items li .image {
    display: block;
    width: 150px;
    margin: 0 auto;
}

.content .new-items li .image img,
.content .catalog-items li .image img {
    text-align: center;
}

.content .new-items li .title,
.content .catalog-items li .title {
    margin-top: 10px;
    text-align: center;
    display: block;
    height: 80px;
    color: #231f20;
    text-decoration: none;
}

.content .new-items li .title:hover,
.content .catalog-items li .title:hover {
    text-decoration: underline;
    color: #b2122f;
}

.content .catalog-items li .image {
    margin: 0 auto;
    width: 120px;
}

.content .sliderlink {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.content .sliderlink a {
    color: #b2122f;
    text-decoration: underline;
}

.content .sliderlink a:hover {
    text-decoration: none;
    color: #231f20;
}

.content .ads {
    margin-top: 20px;
}

.content .ads .group {
    margin-bottom: 10px;
    text-align: center;
}

footer {
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background: url('../img/bg-footer.png') no-repeat top center;
    background-size: cover;
    display: block;
    min-height: 220px;
    text-align: center;
}

footer .menu-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

footer ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li {
    display: block;
}

footer ul li a {
    color: #231f20;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #b2122f;
}

.copyrights {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.carousel-inner {
    height: 310px;
}

form span.required {
    color: #b2122f;
}

#largeimage p {
    text-align: center;
    padding-top: 115px;
}